@tailwind base;

.logo {
  background-image: url(/img/by-fiona-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
  width: 600px;
  margin: 0 auto;
}

.instagram {
  // background-color: #ffffff;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url(/img/instagram.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@tailwind components;

@tailwind utilities;